<div class="top_nav_wrapper">
  <div class="top_nav">
    <% if user_signed_in? %>
      <p class="app_nav">
        <%= link_to t('common.main'), root_path, :id => "logo" %> |
        <!--<%= link_to t('common.books'), house_books_path %> | -->
        <%= link_to t('common.categories'), outlay_categories_path %> |
        <%= link_to t('common.trends') %> |
        <%= link_to t('common.archive'), archive_path %>
      </p>
    <% else %>
      <p class="app_nav">
        xpend.net | <%= t 'intro' %>
      </p>
    <% end %>
    <p class="user_nav">
    <% unless user_signed_in? %>
      <%= link_to t('common.register'), new_user_registration_path %> |
      <%= link_to t('common.sign_in'), new_user_session_path %>
    <% else %>
      <%= t 'common.logged_in_as' %> <%= link_to current_user.email, edit_user_registration_path %>. <%= t 'common.not_you' %>
      <%= link_to t('common.logout'), destroy_user_session_path %>
    <% end %>
    </p>
  </div>
</div>
