<% date = records.present? ? records.to_a.first.created_at.to_date : Date.today %>
<div class="block_wrapper">
  <div class="day_block upper_rounded" data-date="<%= date %>">
    <div class="header upper_rounded">
      <%= date.strftime '%A, %e %B' %>
      <span class="amount">
        <%= records.to_a.sum(&:amount) %>
      </span>
    </div>
    <div class="outlays">
      <% if records.present? %>
        <% records.group_by(&:outlay_category_id).each do |records| %>
          <div class="category">
            <%= records.last.first.outlay_category ? records.last.first.outlay_category.name : 'Uncategorized' %>
            <span class="amount">
              <%= records.last.sum(&:amount) %>
            </span>
          </div>
          <div class="records">
          <% records.last.each do |record| %>
            <div class="record" data-id="<%= record.id %>">
              <%= record.note %>&nbsp;
              <%= link_to "Delete", record, :method => :delete, :confirm => 'Sure?', :remote => true %>
              <%= link_to "Edit", [:edit, record] %>
              <span class="amount">
                <%= record.amount %>
              </span>
            </div>
          <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="no_records">
          No outlay records for today
        </p>
      <% end %>
    </div>
  </div>
</div>

<% unless defined?(only_block) && only_block %>
  <%= link_to "Earlier", { :action => 'earlier', :date => date.to_date }, :id => 'load_earlier', :remote => true %>
<% end %>
