<% date = records.present? ? records.to_a.first.created_at.to_date : Date.today %>
<div class="block_wrapper">
  <div class="day_block upper_rounded" data-date="<%= date %>">
    <div class="header upper_rounded">
      <%= date.strftime '%A, %e %B' %>
      <span class="amount">
        <%= records.to_a.sum(&:amount) %>
      </span>
    </div>
    <div class="outlays">
      <% if records.present? %>
        <% records.group_by(&:outlay_category_id).each do |records| %>
          <div class="category">
            <%= records.last.first.outlay_category ? records.last.first.outlay_category.name : t('outlay_record.uncategorized') %>
            <span class="amount">
              <%= records.last.sum(&:amount) %>
            </span>
          </div>
          <div class="records">
          <% records.last.each do |record| %>
            <div class="record" data-id="<%= record.id %>">
              <%= record.note %>&nbsp;
              
              <%= link_to(
                image_tag('/images/icons/trash.gif',
                  :class => 'icon',
                  :alt => t('outlay_record.delete')
                ),
                '#',
                :class => 'remove',
                :title => t('outlay_record.delete')
              ) %>
              <%= link_to(
                image_tag('/images/icons/pencil.gif',
                  :class => 'icon',
                  :alt => t('outlay_record.edit')
                ),
                [:edit, record],
                :title => t('outlay_record.edit'),
                :remote => true ) %>
              <span class="amount">
                <%= record.amount %>
              </span>
            </div>
          <% end %>
          </div>
        <% end %>
      <% else %>
        <p class="no_records">
          <%= t 'outlay_record.no_records' %>
        </p>
      <% end %>
    </div>
  </div>
</div>

<% unless defined?(only_block) && only_block %>
  <%= link_to t('outlay_record.earlier'), { :action => 'earlier', :date => date.to_date }, :id => 'load_earlier', :remote => true %>
<% end %>
