<% content_for :head do %>
  <script>
    var categories = ['<%= @house_book.outlay_categories.map(&:name).join("','") %>'].sort();
    var notes = ['<%= @house_book.outlay_records.map(&:note).uniq.join("','") %>'].sort();
    jQuery(function () {
      var $input = jQuery('.form_container input[type=text]');
      $input.autocomplete([
      {
        regex: /^\d+[.,]?\d*\s+(.*)$/,
        items: categories,
        suffix: ': '
        }, {
        regex: /^\d+[.,]?\d*\s+.*?: (.+)$/,
        items: notes
      }
      ]);
      $input[0].focus();

      var $remove_outlay = $('.outlays .record a.remove');
      $remove_outlay.live('click', function () {
        var id = $(this).parent().attr('data-id');
        var dialog = show_modal_dialog({
          width: 200,
          caption: '<%=  t('outlay_record.confirmation') %>'
        }, '<%=  t('outlay_record.confirmation_question') %>', function () {
          $.post('/outlay_records/' + id + '.js', {
            '_method': 'delete'
            }, function () {
            dialog.close();
          }, 'script');
          return false;
        });
      });
    });
  </script>
<% end %>
<div class="block_wrapper">
  <div class="form_container upper_rounded">
    <%= form_for @house_book.outlay_records.build, :remote => true do |f| %>
      <%= text_field_tag :outlay_record %><br/>
      <p class="example">
     <%= t 'outlay_record.example' %>: <strong>
        <span style="color: green" title="Amount"><%= t 'outlay_record.sum' %></span>
        <span style="color: blue" title="Category"><%= t 'outlay_record.category' %></span><span
        style="color: red" title="colon">:</span>
        <span style="color: gray" title="Short note"><%= t 'outlay_record.comment' %></span>
      </strong><br/>
      </p>
      <%= f.submit t('outlay_record.create_form_title') %>
    <% end %>
  </div>
</div>

<%= render :partial => 'outlays/day_block', :locals => { :records => @today_records } %>
