<%= form_for(@outlay_category) do |f| %>
  <% if @outlay_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.template.header.other', :count =>@outlay_category.errors.count %>:</h2>

      <ul>
      <% @outlay_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <div class="actions">
    <%= f.submit t("common.submit") %>
  </div>
<% end %>
