<h1><%= t 'outlay_category.list' %></h1>

<table>
  <tr>
    <th><%= t 'outlay_category.name' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @outlay_categories.each do |outlay_category| %>
  <tr>
    <td><%= outlay_category.name %></td>
    <td><%= link_to t('common.show'), outlay_category %></td>
    <td><%= link_to t('common.edit'), edit_outlay_category_path(outlay_category) %></td>
    <td><%= link_to t('common.destroy'), outlay_category, :confirm => t ('outlay_category.destroy_confirm'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('outlay_category.new'), new_outlay_category_path %>
