<!DOCTYPE html>
<html>
<head>
  <title>xpend.net</title>
  <%= stylesheet_link_tag @theme %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render :partial => 'shared/top_nav' %>

  <div class="content">

    <%= render :partial => 'shared/notification_area' %>

    <div class="outer_block">
      <%= yield %>
    </div>
  </div>

</body>
</html>
